.container{
    position: relative;
}

.content{
    padding-bottom: 20vh;
    margin-bottom: 0;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 2vh;
}

.footer > .links{

}

.footer a{
    margin: 0 1vh 1vh 1vh;
}

.footer > .copyright{
    text-align: center;
    font: normal normal normal 1em Montserrat;
    color: #FFFFFF;
    border-top: 0.1em solid #FFFFFF;
}

@media only screen and (max-width: 768px) {
    .footer{
        margin-top: 0;
        position:absolute;
        bottom:0;
        width: 100%;
        padding-bottom: 2vh;
    }

    .footer > .copyright{
        font: normal normal normal 0.7em Montserrat;
    }
}