body{
    margin: 0;
}

.container{
    width: 100vw;
    background: transparent linear-gradient(180deg, #F29898 0%, #FFE4E4 100%, #F29898 100%) 0% 0% no-repeat padding-box;
    padding-bottom: 2vh;
}

.bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 80%;
    height: 20%;
    margin-left: 5%;

    display: flex;
    justify-content: left;
    align-items: center;
}

img[name=logo]{
    width: 50%;
    height: 50%;
}
.logged{
    width: 20%;
    margin-right: 5%;

    display: flex;
    justify-content: right;
    align-items: center;
}

.logged p{
    width: 50%;
    text-align: center;
    font: normal normal normal 1em Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.content{
    margin: 2% 5% 2% 5%;

    display: flex;
    flex-direction: row;
    /*align-items: center;*/
    /*justify-content: center;*/
    min-height: 60vh;
}

.ingredients-container{
    background: rgba(255, 255, 255, 0.75) 0% 0% no-repeat padding-box;
    border: 10px solid rgba(255, 255, 255, 0.75);
    width: 22%;

    border-radius: 4px;

    display: flex;
    flex-direction: column;
    /*justify-content: center;*/

    margin: 0 2% 0 0;
}

.ingredients-container > .menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.heading{
    text-align: center;
    font: normal normal normal 1.5em Montserrat;
    letter-spacing: 0px;
    color: #BD7676;
}

.menu{
    background: #F29898 0% 0% no-repeat padding-box;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.menu > button{
    background: #BD7676 0% 0% no-repeat padding-box;
    border: 3px solid #BD7676;
    border-radius: 3px;

    text-align: center;
    font: normal normal normal 1vw Montserrat;
    color: #FFFFFF;

    padding: 1vh 2vw 1vh 2vw;
    margin: 1vh 0.2vw 1vh 0.2vw;
}

.menu > button:focus {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 3px solid #BD7676;

    text-align: center;
    font: normal normal normal 1vw Montserrat;
    color: #BD7676;
}

.tags-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tag{
    background: #F29898 0% 0% no-repeat padding-box;
    border: 1px solid #BD7676;
    border-radius: 6px;

    text-align: center;
    font: normal normal normal 0.8vw Montserrat;
    color: #FFFFFF;

    padding: 1vh 0.5vw 1vh 0.5vw;
    margin: 0.5vh 0.5vw 0.5vh 0;
    /*flex-basis: 100%;*/
}

.tag > i{
    padding: 0.5vh;
}

.recipes-container{
    background: rgba(255, 255, 255, 0.75) 0% 0% no-repeat padding-box;
    border: 10px solid rgba(255, 255, 255, 0.75);
    width: 78%;
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
}

.recipes-container > .menu{
    padding-left: 0.5vw;
}

.recipes-container > .heading{
    text-align: left;
}

.recipes-container > .tags-container{
    background: rgba(242,152,152, 0.5) 0% 0% no-repeat padding-box;
    border-radius: 6px;
    align-items: center;
    padding: 1vh;
}

.recipes-wrapper{
    margin: 1vh 0 1vh 0;
    padding: 2vh 1vw 2vh 1vw;
    background: rgba(242,152,152, 0.3) 0% 0% no-repeat padding-box;
    border-radius: 6px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.recipe-frame{
    margin: 1vh 1vw 1vh 1vw;
    background: rgba(242,152,152, 0.5) 0% 0% no-repeat padding-box;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    width: 30%;
}

.recipe-frame > img{
    width: 17vw;
    margin: 1vh 1vw 1vh 1vw;
    background: rgba(242,152,152, 0.8) 0% 0% no-repeat padding-box;
    border-radius: 2px;
    color: #FFFFFF;
    padding: 1vh 0.5vw 1vh 0.5vw;
}

.stars{
    margin-top:-3vh;
    text-align: center;
    color: yellow;
}

.recipe-name, .needed-ingredients, .author{
    margin: 1vh 1vw 1vh 1vw;
    background: rgba(242,152,152, 0.8) 0% 0% no-repeat padding-box;
    border-radius: 3px;
    color: #FFFFFF;
    padding: 1vh 0.5vw 1vh 0.5vw;
}

.recipe-name{
    font: normal normal normal 1vw Montserrat;
    height: 20%;
}

.needed-ingredients{
    font: normal normal normal 0.8vw Montserrat;
    height: 80%;
}

.author{
    font: normal normal normal 0.6vw Montserrat;
}

textarea, input, label{
    padding: 1vh;
    border: 2px solid #BD7676;
    margin: 1vh 0 1vh 0;

    font: normal normal normal 1em Arial;
    color: #BD7676;
}

a{
    color: #FFFFFF;
    text-decoration: none;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 15vh;
}

.footer > .links{

}

.footer a{
    margin: 0 1vh 1vh 1vh;
}

.footer > .copyright{
    text-align: center;
    font: normal normal normal 1em Montserrat;
    color: #FFFFFF;
    border-top: 0.1em solid #FFFFFF;
}