body{
    margin: 0;
}

.container{
    width: 100vw;
    min-height: 100vh;
    background: transparent linear-gradient(180deg, #F29898 0%, #FFE4E4 100%, #F29898 100%) 0% 0% no-repeat padding-box;
}

.content{
    margin: 2% 5% 2% 5%;

    display: flex;
    flex-direction: row;
    /*align-items: center;*/
    /*justify-content: center;*/
    min-height: 60vh;
}

.ingredients-container{
    background: rgba(255, 255, 255, 0.75) 0% 0% no-repeat padding-box;
    border: 10px solid rgba(255, 255, 255, 0.75);
    width: 22%;

    border-radius: 4px;

    display: flex;
    flex-direction: column;
    /*justify-content: center;*/

    margin: 0 2% 0 0;
}

.ingredients-container > .menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.heading{
    text-align: center;
    font: normal normal normal 1.5em Montserrat;
    letter-spacing: 0px;
    color: #BD7676;
}

.menu{
    background: #F29898 0% 0% no-repeat padding-box;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border-radius: 3px;
}

.menu > .dropdown > button{
    background: #BD7676 0% 0% no-repeat padding-box;
    border: 3px solid #BD7676;
    border-radius: 3px;

    text-align: center;
    font: normal normal normal 1vw Montserrat;
    color: #FFFFFF;

    padding: 1vh 2vw 1vh 2vw;
    margin: 1vh 0.2vw 1vh 0.2vw;
}

.dropdown, .input-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100%;
    box-shadow: 0.2vh 0.2vw 1vh 0 rgba(0,0,0,0.2);
}

.input-dropdown > .dropdown-content{
    display: block;
}

.dropdown-content .option {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    padding: 1vh 1vw 1vh 1vw;
    font: normal normal normal 0.8vw Montserrat;
    color: #F29898;
}

.dropdown-content .option:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover button {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 3px solid #BD7676;

    text-align: center;
    font: normal normal normal 1vw Montserrat;
    color: #BD7676;
}

.tags-wrapper, .ingredients-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 6vh;
}

.tag, .ingredient{
    background: #F29898 0% 0% no-repeat padding-box;
    border: 1px solid #BD7676;
    border-radius: 6px;

    text-align: center;
    font: normal normal normal 0.8vw Montserrat;
    color: #FFFFFF;

    padding: 1vh 0.5vw 1vh 0.5vw;
    margin: 0.5vh 0.5vw 0.5vh 0;
    /*flex-basis: 100%;*/
}

.tag > i, .ingredient > i{
    padding: 0.5vh;
}

.recipes-container{
    background: rgba(255, 255, 255, 0.75) 0% 0% no-repeat padding-box;
    border: 10px solid rgba(255, 255, 255, 0.75);
    width: 78%;
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
}

.recipes-container > .menu{
    padding-left: 0.5vw;
    display: flex;
    flex-direction: row;
}

.recipes-container > .menu > .cuisine-types{
    display: flex;
    flex-direction: column;
}

.recipes-container > .heading{
    text-align: left;
}

.recipes-container > .tags-wrapper{
    background: rgba(242,152,152, 0.5) 0% 0% no-repeat padding-box;
    border-radius: 6px;
    align-items: center;
    padding: 1vh;
}

.recipes-wrapper{
    margin: 1vh 0 1vh 0;
    padding: 2vh 1vw 2vh 1vw;
    background: rgba(242,152,152, 0.3) 0% 0% no-repeat padding-box;
    border-radius: 6px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.recipes-wrapper > a{
    width: 30%;
    margin: 1vh 1vw 1vh 1vw;
}
.recipe-frame{
    background: rgba(242,152,152, 0.5) 0% 0% no-repeat padding-box;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.recipe-frame > img{
    margin: 1vh 1vw 1vh 1vw;
    background: rgba(242,152,152, 0.8) 0% 0% no-repeat padding-box;
    border-radius: 2px;
    color: #FFFFFF;
    padding: 1vh 0.5vw 1vh 0.5vw;
}

.stars{
    margin-top:-3vh;
    text-align: center;
    color: yellow;
}

.stars > i[name="phantom-star"]{
    visibility: hidden;
}

.recipe-name, .needed-ingredients, .author{
    margin: 1vh 1vw 1vh 1vw;
    background: rgba(242,152,152, 0.8) 0% 0% no-repeat padding-box;
    border-radius: 3px;
    color: #FFFFFF;
    padding: 1vh 0.5vw 1vh 0.5vw;
}

.recipe-name{
    font: normal normal normal 1vw Montserrat;
    height: 20%;
}

.needed-ingredients{
    font: normal normal normal 0.8vw Montserrat;
    height: 80%;
}

.author{
    font: normal normal normal 0.6vw Montserrat;
}

textarea, input, label{
    padding: 1vh;
    border: 2px solid #BD7676;
    margin: 1vh 0 1vh 0;
    width: 90%;

    font: normal normal normal 1em Arial;
    color: #BD7676;
}

a{
    color: #FFFFFF;
    text-decoration: none;
}