.bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 80vw;
    height: 20%;
    margin-left: 5%;

    display: flex;
    justify-content: left;
    align-items: center;
}

img[name=logo]{
    width: 50%;
    height: 50%;
}

.bar > .logged-menu{
    width: 20vw;
    margin-right: 5%;

    display: flex;
    flex-direction: column;

    color: #FFFFFF;
}

.bar > .logged-menu > .logged-as{
    font: normal normal normal 2vh/1vw Montserrat;
    width: 20vw;
    text-align: center;
    padding: 1vh 0.5vw 0 0.5vw;
}

.bar > .logged-menu > .forms{
    display: flex;
    flex-direction: row;
}

.bar > .logged-menu > .forms > form > button{
    border: 0;
    background: #FFFFFF no-repeat padding-box;
    border-radius: 4px;
    width: 9vw;
    margin: 0 0.5vw 0 0.5vw;

    font: normal normal normal 2vh/1vw Montserrat;
    color: #F29898;
}


.bar > .menu{
    width: 20vw;
    margin-right: 5%;

    display: flex;
    justify-content: right;
    align-items: center;
}
.bar > .menu > form > button{
    border: 0;
    background: #FFFFFF no-repeat padding-box;
    border-radius: 4px;
    padding: 2vh 2vw 2vh 2vw;


    text-align: center;
    font: normal normal normal 3vh/2vw Montserrat;
    letter-spacing: 0px;
    color: #F29898;
}


